[submodule "SOURCE/QCrt"]
	path = SOURCE/FDIMPLES/QCrt
	url = https://github.com/LoopZ/QCrt.git
[submodule "SOURCE/FDIMPLES/FD-NLS"]
	path = SOURCE/FDIMPLES/FD-NLS
	url = https://github.com/shidel/fd-nls.git
